{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать</h1><br>
{% if current_user.is_authenticated %}
<p>
    <a> {{ current_user.city }} </a>
</p>
<form class="login_form" method="post">
    <div class="form-group">
        <select class="form-control" id="classSelect" name="city" aria-labelledby="dropdownMenuButton1">
            {% for c in cities %}
            <option class="dropdown-item">{{ c }}</option>
            {% endfor %}
        </select>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Показать виды спорта
    </button>
</form>
{% for s in sports %}
            <a>{{ s.sport }}</a><br>
            {% endfor %}
{% endif %}
{% endblock %}